<app-header (positionEvent)="changePosition($event)" (openCartEvent)="switchOpenCart()">

</app-header>

<label for="items-sort">Order by:</label>

<select #itemsSort id="items-sort" (change)="sortItems(itemsSort.value)">
  <option value="0" selected disabled>none</option>
  <option value="dsc">from the largest to the smallest</option>
  <option value="asc">from the smallest to the largest</option>
</select>


<input id="search" type="text" #search placeholder="Search by name" maxlength="25" (change)="searchItems(search.value)">

<div id="content">
  <div *ngFor="let item of items">
    <app-item [elem]="item" [index]="position" (click)="addToCart(item)"></app-item>
  </div>
</div>

<div *ngIf="openCart">
  <app-cart></app-cart>
</div>

