<app-header (positionEvent)="changePosition($event)" (openCartEvent)="switchOpenCart()">

</app-header>

<label for="items">Order by:</label>

<select #items id="items" (change)="sortItems(items.value)">
  <option value="asc">from the smallest small to the largest</option>
  <option value="dsc">from the largest small to the smallest</option>
</select>


<input type="text" #search placeholder="Search by name" maxlength="25" (change)="searchItems(search.value)">

<div style="background-color: black; color: white" (click)="searchItems('Lime')">
  search for Lime
</div>

<div id="content">
  <div *ngFor="let item of Items">
    <app-item [elem]="item" [index]="position" (click)="addToCart(item)"></app-item>
  </div>
</div>

<div *ngIf="openCart">
  <app-cart></app-cart>
</div>

